{% extends "layout.html" %}
{% block body %}
        <div class="right_col" role="main">
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  {% include "social_button.html" %}
                  <form id="busca-estatistica" data-parsley-validate class="form-horizontal form-label-left" action="">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Locais <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="local" name="local" class="form-control" required="true">
                          {% for capital in capitais %}
                          <option value="{{ capital.id }}">{{ capital.rotulo }}</option>
                          {% endfor %}
                        </select><br>
                        <button type="submit" class="btn btn-primary btn-block">Montar estatísticas</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- GASOLINA -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel bg-gasolina">
                  <h2><b>GASOLINA</b></h2>
                </div>
              </div>
            </div>

            {% for p in statistics['resumos'][:1] %}
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-numeric-asc"></i>
                  </div>                  
                  <div class="count">R${{ p['produtos'][0]['preco_medio'] }}</div>
                  <h3>Média</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-line-chart"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][0]['desvio_padrao'] }}</div>
                  <h3>Desvio</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-level-down"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][0]['preco_minimo'] }}</div>
                  <h3>Mínimo</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-level-up"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][0]['preco_maximo'] }}</div>
                  <h3>Máximo</h3>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Preço mínimo/máximo nos últimos 6 meses</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="gasolina-lineChart"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Preço médio nos últimos 6 meses</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="gasolina-mybarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- ÁLCOOL -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel bg-alcool">
                  <h2><b>ÁLCOOL</b></h2>
                </div>
              </div>
            </div>

            {% for p in statistics['resumos'][:1] %}
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-numeric-asc"></i>
                  </div>                  
                  <div class="count">R${{ p['produtos'][2]['preco_medio'] }}</div>
                  <h3>Média</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-line-chart"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][2]['desvio_padrao'] }}</div>
                  <h3>Desvio</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-level-down"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][2]['preco_minimo'] }}</div>
                  <h3>Mínimo</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-level-up"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][2]['preco_maximo'] }}</div>
                  <h3>Máximo</h3>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Preço mínimo/máximo nos últimos 6 meses</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="alcool-lineChart"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Preço médio dos últimos 6 meses</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="alcool-mybarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- DIESEL -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel bg-diesel">
                  <h2><b>DIESEL</b></h2>
                </div>
              </div>
            </div>

            {% for p in statistics['resumos'][:1] %}
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-numeric-asc"></i>
                  </div>                  
                  <div class="count">R${{ p['produtos'][1]['preco_medio'] }}</div>
                  <h3>Média</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-line-chart"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][1]['desvio_padrao'] }}</div>
                  <h3>Desvio</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-level-down"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][1]['preco_minimo'] }}</div>
                  <h3>Mínimo</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-level-up"></i>
                  </div>
                  <div class="count">R${{ p['produtos'][1]['preco_maximo'] }}</div>
                  <h3>Máximo</h3>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Preço mínimo/máximo nos últimos 6 meses</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="diesel-lineChart"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Preço médio dos últimos 6 meses</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="diesel-mybarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}

{% block js %}
    <!-- Chart.js -->
    <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>

    <script type="text/javascript">
      Chart.defaults.global.legend = {
        enabled: false
      };

      // GASOLINA

      var labels_gasolina = []
      var preco_medio_gasolina = []
      var preco_minimo_gasolina = []
      var preco_maximo_gasolina = []

      {% for p in statistics['resumos'] %}
        labels_gasolina.push( "{{ p['periodo'] }}" );
        preco_medio_gasolina.push( "{{ p['produtos'][0]['preco_medio'] }}" );
        preco_minimo_gasolina.push( "{{ p['produtos'][0]['preco_minimo'] }}" );
        preco_maximo_gasolina.push( "{{ p['produtos'][0]['preco_maximo'] }}" );
      {% endfor %}

      // Line chart gasolina
      var ctx = document.getElementById("gasolina-lineChart");
      var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels_gasolina.reverse(),
          datasets: [{
            label: "Preço máximo - R$",
            backgroundColor: "rgba(38, 185, 154, 0.31)",
            borderColor: "rgba(38, 185, 154, 0.7)",
            pointBorderColor: "rgba(38, 185, 154, 0.7)",
            pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointBorderWidth: 1,
            data: preco_maximo_gasolina.reverse()
          }, {
            label: "Preço mínimo - R$",
            backgroundColor: "rgba(3, 88, 106, 0.3)",
            borderColor: "rgba(3, 88, 106, 0.70)",
            pointBorderColor: "rgba(3, 88, 106, 0.70)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(151,187,205,1)",
            pointBorderWidth: 1,
            data: preco_minimo_gasolina.reverse()
          }]
        },
      });

      // Bar chart gasolina
      var ctx = document.getElementById("gasolina-mybarChart");
      var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels_gasolina.reverse(),
          datasets: [{
            label: 'R$',
            backgroundColor: "#F95757",
            data: preco_medio_gasolina.reverse()
          }]
        },

        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

      // ÁLCOOL

      var labels_alcool = []
      var preco_medio_alcool = []
      var preco_maximo_alcool = []
      var preco_minimo_alcool = []

      {% for p in statistics['resumos'] %}
        labels_alcool.push( "{{ p['periodo'] }}" );
        preco_medio_alcool.push( "{{ p['produtos'][2]['preco_medio'] }}" );
        preco_minimo_alcool.push( "{{ p['produtos'][2]['preco_minimo'] }}" );
        preco_maximo_alcool.push( "{{ p['produtos'][2]['preco_maximo'] }}" );
      {% endfor %}

      // Line chart alcool
      var ctx = document.getElementById("alcool-lineChart");
      var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels_alcool.reverse(),
          datasets: [{
            label: "Preço máximo - R$",
            backgroundColor: "rgba(38, 185, 154, 0.31)",
            borderColor: "rgba(38, 185, 154, 0.7)",
            pointBorderColor: "rgba(38, 185, 154, 0.7)",
            pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointBorderWidth: 1,
            data: preco_maximo_alcool.reverse()
          }, {
            label: "Preço mínimo - R$",
            backgroundColor: "rgba(3, 88, 106, 0.3)",
            borderColor: "rgba(3, 88, 106, 0.70)",
            pointBorderColor: "rgba(3, 88, 106, 0.70)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(151,187,205,1)",
            pointBorderWidth: 1,
            data: preco_minimo_alcool.reverse()
          }]
        },
      });

      // Bar chart alcool
      var ctx = document.getElementById("alcool-mybarChart");

      var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels_alcool.reverse(),
          datasets: [{
            label: 'R$',
            backgroundColor: "#1BC81B",
            data: preco_medio_alcool.reverse()
          }]
        },

        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

      // DIESEL
      var labels_diesel = []
      var preco_medio_diesel = []
      var preco_maximo_diesel = []
      var preco_minimo_diesel = []

      {% for p in statistics['resumos'] %}
        labels_diesel.push( "{{ p['periodo'] }}" );
        preco_medio_diesel.push( "{{ p['produtos'][1]['preco_medio'] }}" );
        preco_minimo_diesel.push( "{{ p['produtos'][1]['preco_minimo'] }}" );
        preco_maximo_diesel.push( "{{ p['produtos'][1]['preco_maximo'] }}" );
      {% endfor %}

      // Line chart diesel
      var ctx = document.getElementById("diesel-lineChart");
      var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels_diesel.reverse(),
          datasets: [{
            label: "Preço máximo - R$",
            backgroundColor: "rgba(38, 185, 154, 0.31)",
            borderColor: "rgba(38, 185, 154, 0.7)",
            pointBorderColor: "rgba(38, 185, 154, 0.7)",
            pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointBorderWidth: 1,
            data: preco_maximo_diesel.reverse()
          }, {
            label: "Preço mínimo - R$",
            backgroundColor: "rgba(3, 88, 106, 0.3)",
            borderColor: "rgba(3, 88, 106, 0.70)",
            pointBorderColor: "rgba(3, 88, 106, 0.70)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(151,187,205,1)",
            pointBorderWidth: 1,
            data: preco_minimo_diesel.reverse()
          }]
        },
      });

      // Bar chart diesel
      var ctx = document.getElementById("diesel-mybarChart");

      var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels_diesel.reverse(),
          datasets: [{
            label: 'R$',
            backgroundColor: "#F90",
            data: preco_medio_diesel.reverse()
          }]
        },

        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    </script>
    <!-- /Chart.js -->
{% endblock %}