          <div class="mobile-social-share">
            <div id="socialHolder">
              <div id="socialShare" class="btn-group">
                <a data-toggle="dropdown" class="btn btn-primary">
                  <i class="fa fa-share-alt fa-inverse"></i>
                </a>
                <button href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle share">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <script type="text/javascript">
                      var url = window.location.href;
                      document.write("<a data-original-title=\"Twitter+\" rel=\"tooltip\" href=\"https://twitter.com/share\" target=\"_blank\" class=\"btn btn-twitter\" data-url=\"" + url + "\" data-lang=\"pt\" data-placement=\"left\"><i class=\"fa fa-twitter\"></i></a>");
                    </script>
                  </li>
                  <li>
                    <script type="text/javascript">
                      var url = window.location.href;
                      document.write("<a data-original-title=\"Facebook+\" rel=\"tooltip\" href=\"https://www.facebook.com/sharer/sharer.php?u=" + url + "\" target=\"_blank\" class=\"btn btn-facebook\" data-placement=\"left\"><i class=\"fa fa-facebook\"></i></a>");
                    </script>
                  </li>
                  <li>
                    <script type="text/javascript">
                      var url = window.location.href;
                      document.write("<a data-original-title=\"Google+\" rel=\"tooltip\" href=\"https://plus.google.com/share?url=" + url + "\" target=\"_blank\" class=\"btn btn-google\" data-placement=\"left\"><i class=\"fa fa-google-plus\"></i></a>");
                    </script>
                  </li>
                </ul>
              </div>
            </div>
          </div>