          <div class="mobile-social-share">
            <div id="socialHolder">
              <div id="socialShare" class="btn-group">
                <a data-toggle="dropdown" class="btn btn-primary">
                  <i class="fa fa-share-alt fa-inverse"></i>
                </a>
                <button href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle share">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>         
                  <li>
                    <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>