{% extends "layout.html" %}
{% block body %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Contactar desenvolvedores</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content"><br>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center"></div>
              <div class="clearfix"></div>
                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Desenvolvedor</i></h4>
                    <div class="left col-xs-7">
                      <h2>Lucas Ayres</h2><br>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-envelope"></i> <b>E-mail:</b> <br>lucasayres441@gmail.com</li>
                        <li><i class="fa fa-phone"></i> <b>Telefone:</b><br> (71) 99290-9912</li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="{{ url_for('static', filename='images/lucas-ayres.jpg') }}" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Desenvolvedor</i></h4>
                    <div class="left col-xs-7">
                      <h2>Felipe Gomes</h2><br>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-envelope"></i> <b>E-mail:</b> <br>felipegustavo1000@gmail.com</li>
                        <li><i class="fa fa-phone"></i> <b>Telefone:</b><br> (71) 98676-4888</li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="{{ url_for('static', filename='images/felipe-gomes.jpg') }}" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Desenvolvedor</i></h4>
                    <div class="left col-xs-7">
                      <h2>Jailton Santos</h2><br>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-envelope"></i> <b>E-mail:</b> <br>itops@hotmail.com</li>
                        <li><i class="fa fa-phone"></i> <b>Telefone:</b><br> (71) 99164-7387</li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="{{ url_for('static', filename='images/jailton-santos.jpg') }}" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}