{% extends "layout.html" %}
{% block body %}
<div class="right_col" role="main" >
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Lista de postos em {{ dados.cidade }}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <section class="content invoice">
              <table id="tabela_postos" class="tablesorter">
                <thead>
                  <tr>
                    <th>Bandeira</th>
                    <th>Posto</th>
                    <th class="gasolina">Gasolina</th>
                    <th class="alcool">Alcool</th>
                    <th class="diesel">Diesel</th> 
                  </tr>
                </thead>
                <tbody>
                  {% for p in dados.postos %}
                  <tr>
                    <td>
                      {% if p.bandeira is defined %}
                      <img src="{{ url_for('static', filename='images/bandeiras/pequenas/'+p.bandeira) }}">
                      {% else %}
                      <img src="{{ url_for('static', filename='images/bandeiras/pequenas/pump.png') }}">
                      {% endif %}
                    </td>
                    <td>{{p.nome}}</td>                  
                    <td class="gasolina">{{p.Gasolina}}</td>
                    <td class="alcool">{{p.Alcool}}</td>
                    <td class="diesel">{{p.Diesel}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>            
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}