{% extends "layout.html" %}
{% block body %}
<div class="right_col" role="main" >
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Lista de postos em {{ dados.cidade }}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="table-responsive">
              <table id="tabela_postos" class="tablesorter table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>Bandeira</th>
                    <th>Posto</th>
                    <th class="gasolina">Gasolina</th>
                    <th class="alcool">Alcool</th>
                    <th class="diesel">Diesel</th> 
                  </tr>
                </thead>
                <tbody>
                  {% for p in dados.postos | sort(attribute='Gasolina') %}
                  <tr>
                    <td>
                      {% if p.bandeira is defined %}
                      <img src="{{ url_for('static', filename='images/bandeiras/pequenas/'+p.bandeira) }}">
                      {% else %}
                      <img src="{{ url_for('static', filename='images/bandeiras/pequenas/pump.png') }}">
                      {% endif %}
                    </td>
                    <td>{{p.nome}}</td>                  
                    <td class="gasolina"><b>{{p.Gasolina}}</b></td>
                    <td class="alcool"><b>{{p.Alcool}}</b></td>
                    <td class="diesel"><b>{{p.Diesel}}</b></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#tabela_postos").tablesorter({
      headers: {
        0: {sorter: false}
      }
    });
  });
</script>
{% endblock %}